/* Import fonts  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ======================== */

/* Import css files */

@import '../path/reset.css';
@import '../path/font.css';
@import '../path/nav.css';
@import '../path/dropdown-menu.css';
@import '../path/buttons.css';
@import '../path/footer.css';
@import '../path/form.css';

/* ======================== */

:root {
	--container-width: 1270px;
	--container-padding: 15px;
	--secondary: rgba(15, 31, 28, 0.5);
	--orange: #ff7c4e;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #f6f6f6;
	color: #0f1f1c;
	overflow-x: hidden;
}

.none {
	display: none !important;
}

.container {
	max-width: var(--container-width);
	padding: 0 var(--container-padding);
	margin: 0 auto;
}

.container-right {
	padding-left: calc(
			(100% - var(--container-width)) / 2 + var(--container-padding)
	);
}

.container-left {
	padding-right: calc(
			(100% - var(--container-width)) / 2 + var(--container-padding)
	);
}

.block {
	height: 200px;
	background-color: darkseagreen;
}

.bold {
	font-weight: 700;
}

/* Nav */

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 80px;
	/*margin-top: 15px;*/
	padding-top: 15px;
}

.nav__list {
	display: flex;
	column-gap: 100px;
	font-size: 20px;
	font-weight: 600;
}

/* Header */

.header {
	overflow: hidden;
	position: relative;
	min-height: 600px;
	background: #6283f5;
	color: #fff;
}

.header a {
	color: #fff;
}

.header::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 96px;

	background-image: url('../img/header/header-bottom.svg');
	background-size: 100%;
	z-index: 2;
}

.header__top {
	margin-bottom: 86px;
}

.header__row {
	display: flex;
}

.header__content {
	max-width: 592px;
	position: relative;
	top: -60px;
	left: 0;
	z-index: 1;
}

.header__img {
	position: relative;
	flex-grow: 1;
}

.header__img img {
	position: absolute;
	top: 40px;
	left: -30px;
	pointer-events: none;
	z-index: 1;
}

.header__img--mobile {
	display: none;
}


.header__img #circle {
	background: rgba(255, 255, 255, 1);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	/*width: 600px;
	height: 560px;*/
	width: 600px;
	height: 560px;
	border-radius: 50%;
	position: absolute;
	top: 110px;
	right: 70px;
	z-index: 1;
}

.header__img--mobile #circle-mobile {
	display: none;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	/*width: 600px;
	height: 560px;*/
	width: 600px;
	height: 560px;
	border-radius: 50%;
	position: absolute;
	top: 110px;
	right: 70px;
	z-index: 1;
}


/*.header__img::after {
	content: '';

	position: absolute;
	!*bottom: -160px;
	right: 15px;*!
	top: -98px;
	right: 15px;

	width: 830px;
	height: 622px;

	background-image: url('../img/header/header-elements.svg');
	pointer-events: none;
	z-index: 0;
}*/

/* Header content */

.header__badge {
	margin-bottom: 7px;
	display: inline-block;
	padding: 11px 30px;
	font-size: 18px;
	font-weight: 500;

	background: rgba(255, 255, 255, 0.25);
	border-radius: 15px;
}

.header__title {
	/*margin-bottom: 30px;*/
	font-size: 75px;
	letter-spacing: 4px;
}

.header__subtitle {
	font-size: 40px;
	position: relative;
	top: -12px;
	left: 0;
	letter-spacing: 21.5px;
}

.header__text {
	position: relative;
	top: -20px;
	left: 0;
	margin-bottom: 30px;
	font-size: 25px;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.5);
}

.header__text__location {
	position: relative;
	top: -35px;
	left: 0;
}


.header__logo__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 60px;
	position: relative;
	top: 0;
	left: -12px;
}

.header__logo__text {
	position: relative;
	left: 0;
	top: 13px;
	font-family: 'Merriweather', serif;
}

.header__logo__image {
	width: 150px;
	margin-right: 25px;
	position: relative;
	top: 30px;
	left: 0;
}

.header__logo__picture {
	width: 120px;
	position: relative;
	top: -20px;
	left: 12px;
}

.header__logo-background {
	background: #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	border-radius: 30px;
	height: 110px;
}

/* Logo */

.header__logo {
	font-size: 20px;
	color: #fff;
	font-weight: 700;
}

.header__logo__image {
	width: 150px;
}

.header__logo a {
	color: inherit !important;
}

/* About */

.title {
	font-size: 51px;
	font-weight: 700;
	text-align: center;
	margin: 30px 0;
	z-index: -5;
}

.about__element {
	display: inline-flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
	transition: 0.2s ease-in;
	z-index: 1;
}

.about {
	position: relative;
	z-index: 5;
}

/*.about__block:after {
	content: '';

	position: absolute;
	top: -50px;
	left: 100px;
	width: 830px;
	height: 622px;
	background-image: url('../img/header/about-left-el.svg');
	background-repeat: no-repeat;
	pointer-events: none;
	!*z-index: -5;*!
}

.about__block:before {
	content: '';

	position: absolute;
	top: -250px;
	right: 90px;
	width: 914px;
	height: 622px;
	background-image: url('../img/header/about-right-el.svg');
	background-repeat: no-repeat;
	pointer-events: none;
}*/

.about__element:hover .about__element__number {
	background: #6283f5;
	color: #fff;
	transition: 0.2s ease-in;
}

.about__element__number {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	font-weight: 700;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #fff;
	margin-right: 20px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.about__element__text {
	display: flex;
	align-items: center;
	width: 280px;
	column-gap: 100px;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 16px;
}

.about__block {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

/* Offers Slider */

.offers {
	padding: 96px 0 50px;
	position: relative;
	overflow: hidden;
}

.offers__row {
	display: flex;
	column-gap: 50px;
}

/*.offers__row:after {
	content: '';

	position: absolute;
	!*left: 90px;*!
	!*top: 150px;*!
	left: 180px;
	top: 110px;
	!*width: 830px;*!
	!*height: 622px;*!
	width: 581px;
	height: 600px;
	background-image: url('../img/header/123.svg');
	background-repeat: no-repeat;
	pointer-events: none;
}*/

.offers__content {
	max-width: 456px;
}

.offers__slider {
	width: 1110px;
	flex-shrink: 0;
}

.offers__title {
	margin: 70px 0 40px 0;
	font-size: 55px;
	font-weight: 600;
}

.offers__title span {
	font-size: 30px;
}

/* Slider */

.owl-item {
	display: flex;
	justify-content: center;
}

.slider {
	position: relative;
	height: 456px;
}

.slider__item {
	margin-top: 27px;

	width: 345px;
	height: 402px;
	object-fit: cover;
	border-radius: 35px;
	transition: 0.2s ease-in;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.slider .center .slider__item {
	margin-top: 0;
	width: 390px;
	height: 456px;
}

.slider__btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 9;

	display: block;
	width: 68px;
	height: 68px;
	border-radius: 50%;

	display: flex;
	align-items: center;

	background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%),
	#8b8b8b;
}

.slider__btn--prev {
	left: -27px;
	padding-left: 26px;
	justify-content: flex-start;
}

.slider__btn--next {
	right: 0;
	padding-right: 26px;
	justify-content: flex-end;
}

/* Customers */

/*.customers {*/
/*	padding: 100px 0 133px;*/
/*}*/

/*.customers__row {*/
/*	display: flex;*/
/*	column-gap: 68px;*/
/*}*/

/*.customers__img {*/
/*	max-width: 478px;*/
/*}*/

/*.customers__img img {*/
/*	border-radius: 60px;*/
/*}*/

/*.customers__content {*/
/*}*/

/*.customers__title {*/
/*	margin-bottom: 35px;*/
/*	font-size: 45px;*/
/*	font-weight: 500;*/
/*}*/

/* Menu Icon */

.menu-icon-wrapper {
	--time: 0.1s;
	--width: 40px;
	--height: 30px;
	--line-height: 4px;
	--color: #fff;

	height: var(--height);
	width: var(--width);
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-icon {
	position: relative;
	width: var(--width);
	height: var(--line-height);
	background-color: var(--color);
}

.menu-icon::before,
.menu-icon::after {
	content: '';
	display: block;

	position: absolute;
	left: 0;

	width: var(--width);
	height: var(--line-height);

	background-color: var(--color);
	transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.menu-icon::before {
	top: calc(var(--line-height) * -2);
}

.menu-icon::after {
	top: calc(var(--line-height) * 2);
}

.menu-icon.menu-icon--active {
	background-color: transparent;
}

.menu-icon.menu-icon--active::before,
.menu-icon.menu-icon--active::after {
	top: 0;
	transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.menu-icon.menu-icon--active::before {
	transform: rotate(45deg);
}

.menu-icon.menu-icon--active::after {
	transform: rotate(-45deg);
}

/* Partners */

.partners__element {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.partners__element__logo {
	display: flex;
	align-items: center;
	width: 150px;
	height: 150px;
	margin-right: 50px;
}

.partners__element__logo img {
	border-radius: 20px;
	border: 3px solid #0f1f1c;
}

.partners__element__text {
	width: 800px;
	text-align: justify;
	font-weight: 600;
	letter-spacing: 1px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	padding: 15px;
	border-radius: 20px;
}

/* Media */

@media (max-width: 1435px) {
	.header::after {
		display: none;
	}

	.header__img img {
		top: 45px;
	}

}

@media (max-width: 1269px) {
	.container-right {
		padding-left: 15px;
	}

	.container-left {
		padding-right: 15px;
	}
}

@media (max-width: 1200px) {
	.offers__slider {
		width: 900px;
	}

	.header__img img {
		top: 60px;
		left: -75px;
	}

	.header__img #circle {
		top: 130px;
	}
}

@media (max-width: 1024px) {
	/* Container */
	.container {
		margin: 0 20px;
	}

	/* Nav */
	.nav__list {
		display: flex;
		column-gap: 50px;
		font-size: 18px;
		font-weight: 700;
	}

	.nav__login--header {
		margin-right: 20px;
	}

	/* Header */
	.header {
		min-height: 550px;
		position: relative;
	}

	.header__title {
		font-size: 70px;
	}

	.header__subtitle {
		font-size: 35px;
		letter-spacing: 22px;
	}

	.header__img {
		display: none;
	}

	.header__img--mobile {
		display: flex;
	}

	.header__img--mobile img {
		position: absolute;
		width: 550px;
		top: 185px;
		right: 30px;
		z-index: 2;
	}

	.header__img--mobile #circle-mobile {
		display: block;
		width: 540px;
		height: 500px;
		top: 250px;
		right: 40px;
	}

	.header__logo__image {
		width: 120px;
	}

	.header__logo-background {
		padding: 0 5px;
	}

	/* Buttons */
	.btn--login {
		padding: 10px 40px;
		font-size: 18px;
	}

	.btn--header {
		padding: 24px 45px;
		font-size: 22px;
		font-weight: 700;
	}

	/* About */
	.about__element {
		justify-content: center;
		margin-bottom: 40px;
	}

	.about__block {
		display: flex;
		justify-content: space-between;
		overflow: hidden;
	}

	.about__element__number {
		margin-bottom: 20px;
	}

	.about__element__text {
		font-size: 15px;
	}

	/* Slider */
	.offers__slider {
		width: 900px;
	}

	/* Footer */
	.nav__list--footer {
		font-size: 16px;
		font-weight: 500;
	}
}

@media (max-width: 1000px) {


	/* Nav */
	.nav {
	}

	.nav__logo {
		display: block;
		width: 150px;
	}

	.nav__list--header {
		display: none;
	}

	.nav__login--header {
		padding-top: 40px;
		margin-right: 0;
	}

	.nav__toggle {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		position: relative;
		top: 38px;
		right: 15px;

	}

	.nav__login--header {
		display: none;
		margin-top: 15px;
	}

	.nav {
		column-gap: 50px;
	}

	.nav__list {
		column-gap: 50px;
	}

	.no-scroll {
		overflow-y: hidden;
	}

	.nav__logo--mobile {
		margin-bottom: 15px;
	}

	.nav--mobile {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 99;

		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 40px;
		padding-bottom: 40px;
		background: #6283f5;
	}

	.nav::-webkit-scrollbar {
		width: 0;
	}

	.nav--mobile .logo {
		font-size: 34px;
	}

	.nav--mobile .nav__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 40px;

		font-size: 22px;
	}

	.nav--mobile .nav__list a.active::after,
	.nav--mobile .nav__list a:hover::after {
		display: none;
	}

	.nav--mobile .nav__login {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 30px;
		font-size: 22px;
	}

	.nav--mobile .nav__toggle {
		position: fixed;
		top: 50px;
		right: 50px;
	}

	/* Header */
	.header__top {
		margin-bottom: 20px;
	}

	.header__img img {
		right: -256px;
	}

	.header__logo__picture {
		height: 100px;
		width: 100px;
	}

	/* Slider */
	.offers__slider {
		width: 600px;
	}

	.offers__title {
		margin: 70px 0 30px 0;
		font-size: 45px;
		font-weight: 600;
	}

	.slider {
		height: 304px;
	}

	.slider .slider__item {
		margin-top: 18px;
		width: 223px;
		height: 268px;
	}

	.slider .center .slider__item {
		margin-top: 0;
		width: 253px;
		height: 304px;
	}

	/* Buttons */
	.btn--login {
		padding: 13px 44px;
		font-size: 20px;
	}

	.nav__list {
		/*display: none;*/
	}

	.nav__list--header {
		display: none;
	}

}

@media (max-width: 850px) {
	/* Container */
	.container-right {
		padding-right: 15px;
	}

	/* Header */
	.header {
		min-height: unset;
	}

	.header__top {
		margin-bottom: 20px;
	}

	.header__row {
		flex-direction: column;
	}

	/*.header__img img {
		position: static;
		width: 70%;
		height: auto;
	}*/
	.header__logo__picture {
		height: 100px;
		width: 100px;
	}

	.header__logo__wrapper {
		justify-content: flex-start;
	}

	.header__logo__text {
		top: 17px;
	}

	.header__title {
		margin-bottom: 20px;
		font-size: 45px;
	}

	.header__img--mobile img {
		width: 450px;
		top: 120px;
		right: 80px;
	}

	.header__img--mobile #circle-mobile {
		top: 180px;
		right: 80px;
		width: 450px;
		height: 400px;
	}

	.header__subtitle {
		font-size: 30px;
		letter-spacing: 10px;
		top: -20px;
	}

	.header__text {
		max-width: 400px;
		margin-bottom: 40px;
		font-size: 20px;
	}

	.header__badge {
		margin-bottom: 5px;
		padding: 8px 20px;
		font-size: 16px;
		border-radius: 10px;
	}

	.btn--header {
		padding: 20px 30px;
		font-size: 20px;
		border-radius: 18px;
	}

	.title {
		font-size: 45px;
	}

	/* About */
	.about__block {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: hidden;
	}

	.about__element {
		align-items: center;
		margin-bottom: 20px;
	}

	.about__element__number {
		justify-content: center;
		align-items: center;
		margin: 0 20px 0 0;
	}

	.about__element__text {
		align-items: center;
	}


	/* Offers */
	.offers__content {
		margin: 0 auto;
		text-align: center;
	}

	.offers {
		padding: 40px 0 50px;
	}

	.offers__row {
		flex-direction: column;
		row-gap: 30px;
	}

	.offers__title {
		margin-top: 0;
	}

	.offers__slider {
		width: 100%;
	}

	.slider__btn--prev {
		left: -15px;
	}

	.slider__btn--next {
		right: -15px;
	}

	.offers__title {
		margin-bottom: 10px;
		font-size: 35px;
	}

	.offers__title span {
		font-size: 20px;
		display: block;
	}

	.offers__text {
		margin-bottom: 30px;
		font-size: 20px;
	}

	/* Button */
	.btn {
		padding: 20px 35px;
		border-radius: 20px;
		font-size: 18px;
	}

	.btn--login {
		padding: 13px 44px;
		font-size: 15px;
		font-weight: 700;
		border-radius: 100px;
	}

	/* Customer */
	.customers {
		padding: 50px 0 60px;
	}

	.customers__row {
		column-gap: 30px;
	}

	.customers__title {
		margin-bottom: 25px;
		font-size: 35px;
	}

	.review__client {
		column-gap: 30px;
		margin-bottom: 20px;
	}

	.review__client-avatar {
		width: 80px;
		height: 80px;
	}

	.review__client-desc-name {
		margin-bottom: 5px;
		font-size: 23px;
	}

	.review__client-desc-country {
		font-size: 18px;
	}

	.review__text {
		margin-bottom: 20px;
		font-size: 18px;
	}

	.review__rating {
		max-width: 200px;
	}

	.customers__img img {
		max-width: 250px;
		border-radius: 40px;
	}

	/* Form */
	.form {
		padding: 20px 0;
	}

	.form__title {
		font-size: 35px;
		margin-bottom: 20px;
	}

	.form__text {
		margin-bottom: 30px;
		font-size: 20px;
	}

	.form__plate {
		min-height: 380px;
		padding: 20px 15px;
		border-radius: 40px;
	}

	/* Partners */
	.partners__element__text {
		font-size: 15px;
	}

	/* Footer */
	.footer {
		padding-bottom: 0;
	}

	.footer__logo {
		width: 100px;
		margin-bottom: 15px;
	}

	.nav-footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		text-align: center;
	}

	.nav__list--footer li {
		font-size: 16px;
	}

	.nav__login--footer {
	}

	.massagers {
		position: relative;
		left: 20px;
		top: 0;
	}

	.rights {
		font-size: 14px;
	}
}

@media (max-width: 640px) {
	.customers__row {
		flex-direction: column-reverse;
		row-gap: 30px;
	}


	/* Header */
	.header__logo__wrapper {
		width: 450px;
	}

	.header__content {
		width: 450px;
	}

	.header__img--mobile img {
		top: 135px;
		right: 5px;
		width: 420px;
	}

	.header__img--mobile #circle-mobile {
		width: 400px;
		height: 350px;
		right: 15px;
	}

	/* About */
	.title {
		font-size: 40px;
	}

	/* Form */
	.form__title {
		font-size: 30px;
	}

	.form__plate::before {
		top: 250px;
		left: 40px;
	}

	.form__plate::after {
		top: 20px;
		right: 40px;
	}

	/* Partners */
	.partners__element {
		flex-direction: column;
	}

	.partners__element__logo {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.partners__element__text {
		width: 500px;
	}

	/* Buttons */
	.btn--header {
		position: relative;
		top: -30px;
	}

}

@media (max-width: 600px) {
	.nav--footer {
		flex-direction: column-reverse;
		row-gap: 30px;
	}

	/* Header */
	.header__logo__wrapper {
		width: 450px;
	}

	.header__content {
		width: 450px;
	}

	.header__img--mobile img {
		top: 185px;
		width: 350px;
	}

	.header__img--mobile #circle-mobile {
		top: 225px;
		width: 350px;
		height: 300px;
		right: 8px;
	}
}

@media (max-width: 480px) {
	/* Header */
	.header__logo__wrapper {
		top: 6px;
		width: 350px;
	}

	.header__content {
		width: 350px;
	}


	.header__logo__picture {
		height: 80px;
		width: 80px;
	}

	.header__title {
		font-size: 35px;
	}

	.header__subtitle {
		font-size: 20px;
		letter-spacing: 11px;
	}

	.header__logo__image {
		margin-right: -16px;
	}

	.header__img--mobile img {
		width: 300px;
	}

	.header__img--mobile #circle-mobile {
		width: 300px;
	}

	.header__text__location {
		top: -20px;
	}

	/* Buttons */
	.btn--header {
		font-size: 16px;
		padding: 15px 30px;
		position: relative;
		top: -40px;
		left: 0;
	}

	/* About */
	.title {
		font-size: 35px;
	}

	/* Slider */
	.offers__title {
		font-size: 30px;
	}

	/* Form */
	.form__title {
		font-size: 25px;
	}

	.form__plate {
		padding: 5px 10px;
	}

	.form__plate:before {
		left: 20px;
	}

	.form__plate:after {
		right: 20px;
		top: 15px;
	}

	/* Partners */
	.partners__element__text {
		width: 110%;
		font-size: 14px;
	}

	/* Footer */
	.footer {
		padding-bottom: 0;
	}

	.footer__logo {
		width: 80px;
	}

	.nav__list--footer {
		font-size: 15px;
	}
}

@media (max-width: 460px) {
	.customers__img img {
		max-width: 100%;
	}

	.subscribe-form {
		padding: 10px;
		flex-direction: column;
		row-gap: 10px;
	}

	.subscribe-form__input {
		padding: 15px 0;
		text-align: center;
		background-color: #f0f0f0;
		border-radius: 20px;
		font-size: 18px;
	}

	.nav__list--footer {
		flex-direction: column;
		row-gap: 15px;
		align-items: center;
	}

	/* Buttons */
	.btn--header {
		padding: 12px 25px;
	}
}

@media (max-width: 460px) {
	.nav--mobile .nav__toggle {
		top: 20px;
		right: 15px;
	}

	.nav--mobile .nav__list,
	.nav--mobile .nav__login {
		row-gap: 20px;
	}
}

@media (max-width: 420px) {
	/* Container */
	.container {
		margin: 0;
	}

	/* Header */
	.header__logo__wrapper {
		top: 12px;
		width: 320px;
	}

	.header__content {
		width: 320px;
	}

	.header__logo__text {

	}

	.header__title {
		font-size: 30px;
	}

	.header__subtitle {
		font-size: 16px;

	}

	.header__logo__picture {
		height: 70px;
		width: 70px;
		border-radius: 24px;
	}

	.header__logo__image {
		margin-right: -25px;
	}

	.header__img--mobile img {
		top: 200px;
		width: 280px;
	}

	.header__img--mobile #circle-mobile {
		width: 280px;
		height: 280px;
	}

	/* Partners */
	.partners__element__text {
		width: 100%;
	}

	/* Footer */
	.footer {
		padding-bottom: 0;
	}

	.nav-footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		text-align: center;
	}

	.nav__list--footer li {
		font-size: 14px;
	}

	.nav__login--footer {
		width: 90%;
	}

	.nav__list--gap {
		margin: 0 auto;
	}

	.rights {
		font-size: 13px;
	}
}

@media (max-width: 390px) {
	/* Header */
	.header__content {
		width: 280px;
	}

	.header__text__location {
		top: -5px;
	}

	.header__logo__wrapper {
		width: 280px;
		top: 18px;
	}

	.header__title {
		font-size: 25px;
	}

	.header__subtitle {
		font-size: 15px;
		letter-spacing: 8.2px;
	}

	.header__img--mobile img {
		width: 240px;
		top: 190px;
	}

	.header__img--mobile #circle-mobile {
		top: 210px;
		width: 240px;
		height: 240px;
	}

	/* Buttons */
	.btn--header {
		font-size: 15px;
		padding: 10px 25px;
	}

	/* About */
	.about__element__number {
		margin-bottom: 20px;
	}

	/* Form */
	.form__plate:before {
		display: none;
	}

	.form__plate:after {
		display: none;
	}

	/* Footer */
	.nav__list--footer li {
	}

}

