/* Import fonts  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ======================== */

/* Import css files */

@import "../../path/slider.css";
@import "../../path/reset.css";
@import "../../path/font.css";
@import "../../path/header.css";
@import "../../path/buttons.css";
@import "../../path/dropdown-menu.css";
@import "../../path/nav.css";
@import "../../path/footer.css";
@import "../../path/increment-img.css";
@import "../../path/form.css";

/* ======================== */

:root {
	--container-width: 1270px;
	--container-padding: 15px;
	--secondary: rgba(15, 31, 28, 0.5);
	--orange: #ff7c4e;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #E9E9E9;
	color: #0f1f1c;
	overflow-x: hidden;
}

.none {
	display: none !important;
}

.container {
	max-width: var(--container-width);
	padding: 0 var(--container-padding);
	margin: 0 auto;
}

.container-right {
	padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

.container-left {
	padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

.container-inside {
	max-width: 1100px;
	margin: 0 auto;
}

.block {
	height: 200px;
	background-color: darkseagreen;
}

.without-indent {
	margin-right: 0;
}


/* Logo */

.logo {
	font-size: 20px;
	color: #fff;
	font-weight: 700;
}

.logo a {
	color: inherit !important;
}

.logo--footer {
	color: var(--orange);
}

/* Title */
.title {
	letter-spacing: 2px;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin: 20px 0;
	z-index: -5;
	padding: 10px 0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	border-radius: 27px;
}

.title--height {
	margin-bottom: 50px;
}

.main-title {
	font-weight: 700;
	font-size: 35px;
	text-align: center;
	margin-top: 30px;
	padding: 10px 0;
	letter-spacing: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	border-radius: 27px;
}

.subtitle {
	font-weight: 700;
	font-size: 25px;
	letter-spacing: 1px;
	margin: 30px 0;
	text-align: center;

}

.notation {
	font-size: 20px;
	margin: 40px 0;
	letter-spacing: 1px;
	padding: 5px 20px;
}

.background {
	padding: 10px 8px;
	background: #ccc;
	border-radius: 27px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	margin: 40px 0;
	text-align: justify;
	font-weight: 700;
}

/* About */

/**/

.border {
	list-style: none;
	padding: 0;
}

.border li {
	padding: 7px 20px;
	margin-bottom: 10px;
	border-radius: 5px;
	border-left: 10px solid #f05d22;
	box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1),
	-2px -2px 5px 0 rgba(0, 0, 0, .1),
	2px 2px 5px 0 rgba(0, 0, 0, .1),
	-2px 2px 5px 0 rgba(0, 0, 0, .1);
	font-size: 20px;
	letter-spacing: 2px;
	transition: 0.3s all linear;
}

.border li:nth-child(2) {
	border-color: #8bc63e;
}

.border li:nth-child(3) {
	border-color: #fcba30;
}

.border li:nth-child(4) {
	border-color: #1ccfc9;
}

.border li:nth-child(5) {
	border-color: #493224;
}

.border li:hover {
	border-left: 10px solid transparent;
}

.border li:nth-child(1):hover {
	border-right: 10px solid #f05d22;
}

.border li:nth-child(2):hover {
	border-right: 10px solid #8bc63e;
}

.border li:nth-child(3):hover {
	border-right: 10px solid #fcba30;
}

.border li:nth-child(4):hover {
	border-right: 10px solid #1ccfc9;
}

.border li:nth-child(5):hover {
	border-right: 10px solid #493224;
}

.wrapper-sertificat {
	text-align: center;
	margin-top: 30px;
}

.sertificat {
	width: 500px;
	margin-left: 20px;
	border-radius: 20px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}

.sertificat:last-child {
	margin-left: 0;
}


/**/


.about__element {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
	transition: 0.2s ease-in;
	z-index: 1;
}

/*.about {*/
/*	position: relative;*/
/*	z-index: 5;*/
/*}*/

/*.about__block:after {*/
/*	content: '';*/

/*	position: absolute;*/
/*	top: -50px;*/
/*	left: 100px;*/
/*	width: 830px;*/
/*	height: 622px;*/
/*	background-image: url('../img/header/about-left-el.svg');*/
/*	background-repeat: no-repeat;*/
/*	pointer-events: none;*/
/*	!*z-index: -5;*!*/
/*}*/

/*.about__block:before {*/
/*	content: '';*/

/*	position: absolute;*/
/*	top: -250px;*/
/*	right: 90px;*/
/*	width: 914px;*/
/*	height: 622px;*/
/*	background-image: url('../img/header/about-right-el.svg');*/
/*	background-repeat: no-repeat;*/
/*	pointer-events: none;*/
/*}*/


.about__element:hover .about__element__number {
	background: #6283F5;
	color: #fff;
	transition: 0.2s ease-in;
}


.about__element__number {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	font-weight: 700;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #fff;
	margin-right: 20px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.about__element__text {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1000px;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 16px;
}

.about__element__text--selection {
	font-weight: 700;
}

.about__element__text--selection a {
	color: #f05d22;
}

.about__element__text--pos {
	margin-left: 80px;
}

.selection {
	color: darkred;
}

.about__block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	position: relative;
}

.about__element__contact {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1px;
	margin-left: 80px;
	margin-top: -12px;
}

/* Menu Icon */

.menu-icon-wrapper {
	--time: 0.1s;
	--width: 40px;
	--height: 30px;
	--line-height: 4px;
	--color: #fff;

	height: var(--height);
	width: var(--width);
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-icon {
	position: relative;
	width: var(--width);
	height: var(--line-height);
	background-color: var(--color);
}

.menu-icon::before,
.menu-icon::after {
	content: '';
	display: block;

	position: absolute;
	left: 0;

	width: var(--width);
	height: var(--line-height);

	background-color: var(--color);
	transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.menu-icon::before {
	top: calc(var(--line-height) * -2);
}

.menu-icon::after {
	top: calc(var(--line-height) * 2);
}

.menu-icon.menu-icon--active {
	background-color: transparent;
}

.menu-icon.menu-icon--active::before,
.menu-icon.menu-icon--active::after {
	top: 0;
	transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.menu-icon.menu-icon--active::before {
	transform: rotate(45deg);
}

.menu-icon.menu-icon--active::after {
	transform: rotate(-45deg);
}

/* Media */

@media (max-width: 1269px) {
	/* Container */
	.container-right {
		padding-left: 15px;
	}

	.container-left {
		padding-right: 15px;
	}
}

@media (max-width: 1215px) {
	/* Nav */
	.nav__list {
		column-gap: 70px;
	}

	.offers__slider {
		width: 900px;
	}

	/* Footer */
	.nav__list--footer {
		font-size: 16px;
		font-weight: 500;
	}

	/* Form */
	.form__plate {
		margin: 0 20px;
	}

}

@media (max-width: 1110px) {
	/* About */
	.about__element__text {
		max-width: 850px;
	}
}

@media (max-width: 1000px) {
	/* Container */
	.container {
		margin: 0 20px;
	}

	.container-logo {
		margin: 0 0 0 12px;
	}

	/* Nav */
	.nav__list--header {
		display: none;
	}

	.menu-icon-wrapper {
		/* Change pos */
		position: absolute;
		top: 40px;
		right: 30px;
		z-index: 100;
	}

	.menu-icon--active {
		position: fixed;
		top: 55px;
		right: 30px;
	}

	.nav__login--header {
		display: none;
	}

	.nav {
		column-gap: 50px;
	}

	.nav__list {
		column-gap: 50px;
	}

	.nav__toggle {
		display: block;
	}

	.no-scroll {
		overflow-y: hidden;
	}

	.nav--mobile {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 99;

		flex-direction: column;
		align-items: center;
		padding-top: 40px;
		padding-bottom: 40px;

		background: #6283f5;
	}

	.nav--mobile .logo {
		font-size: 34px;
	}

	.nav--mobile .nav__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 40px;

		font-size: 22px;
	}

	.nav--mobile .nav__list a.active::after,
	.nav--mobile .nav__list a:hover::after {
		display: none;
	}

	.nav--mobile .nav__login {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 40px;

		font-size: 22px;
	}

	.nav--mobile .nav__toggle {
		position: fixed;
		top: 150px;
		right: 50px;
	}

	/* Header */
	.header__img img {
		right: -256px;
	}

	.header__img::after {
		right: -300px;
	}

	/* Title */
	.main-title {
		font-size: 30px;
	}

	.main-subtitle {
		font-size: 28px;
	}

	.title {
		font-size: 28px;
	}

	.subtitle {
		font-size: 22px;
	}

	/* About */
	.about__element__text {
		max-width: 700px;
	}

	/* Sertificat */
	.myImg {
		width: 400px;
	}

	/* Slider */
	.offers__slider {
		margin-right: 0;
		width: 600px;
	}

	.slider {
		height: 304px;
	}

	.slider .slider__item {
		margin-top: 18px;
		width: 223px;
		height: 268px;
	}

	.slider .center .slider__item {
		margin-top: 0;
		width: 253px;
		height: 304px;
	}

	/* Buttons */
	.btn--login {
		font-weight: 700;
	}
}

@media (max-width: 850px) {
	.container-right {
		padding-right: 15px;
	}

	/* Header */
	.header__top {
		margin-bottom: 40px;
	}

	.header__img::after {
		top: 100px;
		right: 0;
	}

	/* Title */
	.main-title {
		font-size: 28px;
	}

	.main-subtitle {
		font-size: 25px;
	}

	.title {
		font-size: 25px;
	}

	/* About */
	.about__element {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 40px;
	}

	.about__block {
		display: flex;
		justify-content: space-between;
		overflow: hidden;
	}

	.about__element__number {
		margin-bottom: 20px;
		margin-right: 0;
	}

	.about__element__text {
		font-size: 16px;
		column-gap: 0;
		text-align: center;
	}

	.about__element__contact {
		margin: 0 auto;
		text-align: center;
	}

	/* Slider */
	.offers {
		padding: 20px 0 30px;
	}

	.offers__row {
		flex-direction: column;
		row-gap: 30px;
	}

	.offers__slider {
		width: 100%;
	}

	.slider__btn--prev {
		left: -15px;
	}

	.slider__btn--next {
		right: -15px;
	}

	.offers__title {
		margin-bottom: 10px;
		font-size: 35px;
	}

	.offers__title span {
		font-size: 20px;
		display: block;
	}

	/* Sertificat */
	.wrapper-sertificat img {
		margin-right: 0;
		margin-bottom: 20px;
		width: 500px;
	}

	/* Text */
	.notation {
		font-weight: 600;
		font-size: 18px;
		margin: 20px 0;
	}

	/* Buttons */
	.btn--header {
		padding: 20px 30px;
		font-size: 20px;
		border-radius: 18px;
	}

	.btn {
		padding: 20px 35px;
		border-radius: 20px;
		font-size: 18px;
	}

	.btn--login {
		padding: 13px 44px;
		font-size: 16px;
		font-weight: 700;
		border-radius: 100px;
	}

	/* Form */
	.form {
		padding: 20px 0;
	}

	.form__title {
		font-size: 28px;
		margin-bottom: 20px;
	}

	.form__text {
		margin-bottom: 30px;
		font-size: 20px;
	}

	.form__plate {
		min-height: 350px;
		padding: 20px 15px;
		border-radius: 40px;
	}

	.form__plate:before {
		left: 40px;
		bottom: 20px;
	}

	.form__plate:after {
		top: 20px;
		right: 40px;
	}

	/* Footer */
	.footer {
		padding-bottom: 0;
	}

	.footer__logo {
		width: 100px;
		margin-bottom: 15px;
	}

	.nav-footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		text-align: center;
	}

	.nav__list--footer li {
		font-size: 16px;
	}

	.nav__login--footer {
	}

	.massagers {
		position: relative;
		left: 20px;
		top: 0;
	}

	.rights {
		font-size: 14px;
	}

	/* List */
	.border li {
		font-size: 17px;
	}
}


@media (max-width: 640px) {
	/* Title */
	.main-title {
		font-size: 25px;
	}

	.main-subtitle {
		font-size: 20px;
	}

	.title {
		margin-bottom: 30px;
		font-size: 20px;
	}

	.subtitle {
		font-size: 20px;
		font-weight: 600;
	}

	/* Form */
	.form__title {
		font-size: 25px;
	}

}

@media (max-width: 600px) {
	/* Nav */
	.nav--footer {
		flex-direction: column-reverse;
		row-gap: 30px;
	}

	/* Title */
	.main-title {
		font-size: 22px;
	}
}

@media (max-width: 480px) {
	/* Form */
	.form__plate:after {
		display: none;
	}

	.form__plate:before {
		display: none;
	}

	.form__plate {
		min-height: 300px;
	}
}

@media (max-width: 460px) {
	/* Nav */
	.nav__list--footer {
		flex-direction: column;
		row-gap: 15px;
		align-items: center;
	}

	/* About */
	.about__element__number {
		margin-bottom: 10px;
	}

	.about__element {
		margin-bottom: 20px;
	}

	/* Text */
	.notation {
		font-size: 17px;
	}

	/* Title */
	.main-title {
		padding: 5px 10px;
	}

	.title {
		padding: 5px 10px;
	}
}

@media (max-width: 460px) {
	/* Nav */
	.nav--mobile .nav__toggle {
		top: 20px;
		right: 15px;
	}

	.nav--mobile .nav__list,
	.nav--mobile .nav__login {
		row-gap: 20px;
	}

	/* List */
	.border li {
		font-size: 16px;
	}
}

@media (max-width: 390px) {
	/* About */
	.about__element__text {
		font-size: 15px;
	}
	/* Text */
	.subtitle {
		margin: 20px 0;
	}

	.title {
		padding: 5px 10px;
	}

	/* List */
	.notation {
		margin: 10px 0;
		font-size: 16px;
	}

	.background {
		margin: 20px 0;
	}

	/* Form */
	.form__title {
		font-size: 20px;
	}
}